.footer-main {
  padding: 0.3rem 1rem 1rem;
  margin-top: 4rem;
  background-color: var(--bg-primary);
  border-top: 4px solid var(--border-color);
}

.footer-container {
  text-align: center;
  color: var(--text-primary);
}

.follow-text {
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  font-size: 2rem;
}

.social-icons a {
  color: var(--text-primary);
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--text-secondary);
}

.disclaimer-text {
  font-size: 0.55rem;
  margin-top: 1.5rem;
  color: var(--text-secondary);
  line-height: 1.8;
}