<section class="home-section">
  <h1 class="main-title">Ford. Construído para durar,<br><span class="play-text">reconstruído para brincar.</span></h1>
  <p class="main-subtitle">A força e a tradição da Ford encontram a criatividade sem limites de LEGO.</p>

  <div class="carousel-section-container">
    <div class="carousel-wrapper">
      <div class="carousel-container" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
        
        @for (car of cars; track $index) {
          <div class="carousel-slide">
            <div class="car-card">
              <img [src]="car.imgSrc" [alt]="'Imagem do ' + car.title">
              <div class="card-content">
                <h3>{{ car.title }}</h3>
                <p>{{ car.description }}</p>
              </div>
            </div>
          </div>
        }

      </div>
    </div>

    <button class="lego-arrow-btn prev" (click)="manualChange('prev')" title="Anterior">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button class="lego-arrow-btn next" (click)="manualChange('next')" title="Próximo">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</section>
<section class="testimonials-section">
  <h2 class="section-title">Depoimentos</h2>
  <div class="testimonials-grid">
    
    @for (testimonial of testimonials; track $index) {
      <div class="testimonial-card">
        <img [src]="testimonial.avatar" [alt]="'Avatar de ' + testimonial.author" class="testimonial-avatar">
        <p class="testimonial-quote">{{ testimonial.quote }}</p>
        <p class="testimonial-author">- {{ testimonial.author }}</p>
      </div>
    }

  </div>
</section>